* {
  margin: 0;
  padding: 0;
}

dialog {
  height: fit-content;
  width: fit-content;
  border: 1px solid black;
}

.red-toggle {
  background-color: red;
}

.green-toggle {
  background-color: green;
}